<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset> 
    <form  action="/blog" method="POST">
        <input   name="userName"  type="text"  placeholder="Enter userName"/>
        <br>
        <br>
        <br>

        <input  name="comment" type="text" placeholder="Enter your comment"/>
        <br>
        <br>
        <br>
        <button  type="submit"> Send</button>
    </form>
</fieldset>
</body>
</html>