<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <%  for(let item of SearchC){ %>
    <h1>   <%= item.id %></h1>
    <h2>   <%= item.userName %></h2>
    <h4>   <%= item.comment %></h4>



  <%  }%>
</body>
</html>